---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="flex justify-between items-center py-14 px-14 gap-3">
		<h1>VELVEY HAMMER</h1>
		<div class="flex gap-4 items-center">
			<p>OUR ARTISTS</p>
			<p>THE COMPANY</p>
			<p>CONTACT</p>
			<p>STORE</p>
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/018/930/481/small_2x/facebook-logo-facebook-icon-transparent-free-png.png"
				alt=""
				class="w-8 h-8"
			/>
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/018/930/481/small_2x/facebook-logo-facebook-icon-transparent-free-png.png"
				alt=""
				class="w-8 h-8"
			/>
			<img
				src="https://static.vecteezy.com/system/resources/thumbnails/018/930/481/small_2x/facebook-logo-facebook-icon-transparent-free-png.png"
				alt=""
				class="w-8 h-8"
			/>
		</div>
	</header>

	<section
		class="bg-black h-[70vh] text-white flex flex-col gap-4 justify-center items-center"
	>
		<img
			src="https://images.vexels.com/content/156366/preview/simple-leaves-icon-image-5d877d.png"
			class="w-32"
			alt=""
		/>
		<p class="text-2xl">VELVET HAMMER</p>
		<p class="opacity-60">MUSIC AND MANAGEMENT GROUP</p>
		<p class="tracking-widest">LOS ANGELES - WORLDWIDE</p>
	</section>
</Layout>

<style></style>
