---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p
		class="text-green-500 absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-4xl font-bold"
	>
		Empanada
	</p>
</Layout>

<style></style>
